{
	"extends": "airbnb",

	"globals": {
		"PWD": true,
		"ENV": true
	},

	"parserOptions": {
		"sourceType": "strict"
	},

	"rules": {
		"strict": [ 2, "global" ],
		"no-console": "off",
		"func-names": "off",
		"array-bracket-spacing": "off",
		"indent": [ 2, "tab" ],
		"comma-dangle": "off",
		"prefer-template": "off",
		"curly": "off",
		"no-param-reassign": "off"
	}
}
